<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta charset="utf-8">
  <title>Drywall Magana</title>
  <link rel="stylesheet" href="styles.css" />
  <link rel="icon" href="images/DMfav.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="topnav" id="myTopnav">
<img class="logDM" align="left" src="images/logoclean.png" width="40%" height="120px z-index: 1">
<a href="index.html" class="active">Home</a>
<a href="calcsheet.html">Calculate by number of sheets installed</a>
<a href="calcsqft.html">Calculate by sq/ft</a>
<a href="calcrep.html">Calculate by repair</a>
<a href="#top" class="icon" onclick="myFunction()" style="position: sticky">
    <i class="fa fa-bars" style=""></i>
  </a>
</div>

    <h2 style="text-align: center" class="content">In this section you can get a free quote based on the squarefootage of your proyect. </h2>


    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>


<div ng-app="" ng-init="sqft=0; Height=8; sqftb=0; Heightb=8">

    <div class="skill-row1">

          <img src="images/IGchurch.png" alt="" style="display: block;
    max-width: 100%; float: right; height: 10%; margin: 0 .5% .5% .5%">



            <p style="color:white" class="content" style="margin-top: -10px; text-align: left">


              Please input your project's details on the calculator #1 if your project is under 1500 sq/ft, or
            on the #2 if it is equal or exceeds 1500 sq/ft.
            If your proyect falls on the category under 500 sq/ft please send a picture by <a href="SMS: +1 437-220-7887">text,</a>or <a href="mailto: pegaso1998-10pegaso@hotmail.com" >email</a>

               <img src="images/logoclean.png" alt="" style=" position: absolute; display: block;
               max-width: 100%; float: left; max-width: 100%; height: 100%; margin: -6% 0 0 0; opacity: 0.2; z-index: -1">
              <br>
              <br>
              <span style=" font-weight: bolder; font-size: 200.5%; font-family: 'Roboto', sans-serif; text-align: left" >#1</span>
              <br>
              -Total square footage:<input type="number" ng-model="sqft">
              <br>
              <br>
              -Height of your project (write either 8, 9 or 10 Feet: <input type="number" ng-model="Height" > Feet
              <br>
              <br>

              <b >Total:${{ (sqft*(Height*0.125))*0.9}}</b>
              </p>

    </div>

    <br>
    <hr>
    <br>


        <div class="skill-row2" >

    <img src="images/IGatic.png" style=" display: block; position: inherit; float: left; max-width: 100%; width: 1000px; height: 500px; padding-right:10px" alt="">

            <h1 style="text-align: left">#2</h1>
            <p class="the">-Total square footage:<input type="number" ng-model="sqftb">
              <img src="images/logoclean.png" alt="" style=" position: absolute; display: block;
              max-width: 100%; float: right; max-width: 100%; height: 100%; margin: -10% 0 0 20%; opacity: 0.2; z-index: -1">
              <br>
              <br>
              -Height of your project (write either 8, 9 or 10 Feet: <input type="number" ng-model="Heightb" > Feet
              <br>
              <b>Total:$</b>{{ (sqftb*(Heightb*0.125))*0.6}}
            </p>


    </div>

    <br>
    <br>


</div>
<br>
    <div class="bottom-container1">
      <h2 style="text-align: center">Get in touch with Drywall Magana and follow us</h2>
      <a class="btn" href="mailto:pegaso1998-10@hotmail.com">EMAIL DRYWALL MAGANA!</a>
      <a class="btn" href="tel:+1-437-220-7887">CALL DRYWALL MAGANA!</a>
      <a class="btn" href="sms:+1-437-220-7887">TEXT DRYWALL MAGANA!</a>
    </div>
    <script src="javasc.js"></script>

    <div class="bottom-container2">
      <p class="myname">Copyright © 2021 Drywall Magana.</p>
      <a class="footer-link" href="https://www.instagram.com/drywall.magana/"><img src="images/instalogo.png" width="40" height="40" alt="instalogo"> </a>
      <a class="footer-link" href="https://www.facebook.com/Drywall-magana-103796534431548"><img src="images/facelogo.png" width="40" height="40" alt="facelogo"> </a>
      <a class="footer-link" href="https://homestars.com/companies/2928674-drywall-magana"><img src="images/homestars.png" width="40" height="40" alt=""> </a>
    </div>

  </body>

</html>
